main{
    display: flex;
flex-direction: column;
min-height: 100vh;
justify-content: center;
padding: 0 30px;
text-align: center;
}
*,input,button{
    font-family: 'Product Sans', Arial, sans-serif !important;
}
#showBtn{
    width: 10em;
    background: #bc1888;
}
#instaName{
    width: 15em;
    margin-bottom: 1em;
}
.profileshow{
    display: none;
max-width: 100px;
-webkit-transition-duration: 1s;
transition-duration: 1s;
height: 20%;
width: 10%;
max-height: 95px;
width: auto;
height: auto;
border-radius: 35%;
}
.profileshow2{
    display: none;
    border-radius: 5%;
}
#hide{
    display: none;
}
#profileshow:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
margin: auto;
display: block;
width: 80%;
max-width: 700px;
}


.modal-content {
-webkit-animation-name: zoom;
-webkit-animation-duration: 0.6s;
animation-name: zoom;
animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
from {-webkit-transform:scale(0)}
to {-webkit-transform:scale(1)}
}

@keyframes zoom {
from {transform:scale(0)}
to {transform:scale(1)}
}

/* The Close Button */
.close {
position: absolute;
top: 15px;
right: 35px;
color: #f1f1f1;
font-size: 40px;
font-weight: bold;
transition: 0.3s;
}

.close:hover,
.close:focus {
color: #bbb;
text-decoration: none;
cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
.modal-content {
width: 100%;
}
}
#myModal .button{
margin: 1em !important;
}
#snackbar {
visibility: hidden; /* Hidden by default. Visible on click */
min-width: 250px; /* Set a default minimum width */
margin-left: -125px; /* Divide value of min-width by 2 */
background-color: #333; /* Black background color */
color: #fff; /* White text color */
text-align: center; /* Centered text */
border-radius: 17px; /* Rounded borders */
padding: 16px; /* Padding */
position: fixed; /* Sit on top of the screen */
z-index: 1;
left: 50%;
bottom: 30px;
opacity: 0.6;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
visibility: visible; /* Show the snackbar */
/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
from {bottom: 0; opacity: 0;}
to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
from {bottom: 0; opacity: 0;}
to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
from {bottom: 30px; opacity: 1;}
to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
from {bottom: 30px; opacity: 1;}
to {bottom: 0; opacity: 0;}
}
.dot,.dot1{
height: 25px;
width: 25px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
z-index: -1;
position: absolute;
bottom: 50%;
left: 40%;
color: black;
}
.dot1{
bottom: 4%;
left: 10%;
}
nav{
font-size: 23px;
margin-top: 10px;
font-weight: 400;
}
nav > a {
position: relative;
text-decoration: none;
color:black;
transition: all 0.3s ease 0s;
}

nav > a:hover , .whiteTxt{
color:red !important;
}
nav > a:before {
content: "";
position: absolute;
width: 100%;
height: 2px;
bottom: 0;
left: 0;
background-color: red;
visibility: hidden;
-webkit-transform: scaleX(0);
transform: scaleX(0);
-webkit-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;
}
nav > a:hover:before {
visibility: visible;
-webkit-transform: scaleX(1);
transform: scaleX(1);
}
form{
    margin-left: 30%;
    margin-right: 30%;

}